In [1]:
from datascience import *
from path_data_variable import *
import matplotlib
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import numpy as np

In [2]:
faces = np.arange(1, 7)
die = Table().with_columns('Face', faces)
die

Face
1
2
3
4
5
6

In [3]:
die.sample(7)

Face
5
3
3
5
5
1
6

In [4]:
actors = Table.read_table(path_data + 'actors.csv')
actors

Actor              | Total Gross | Number of Movies | Average per Movie | #1 Movie                     | Gross
Harrison Ford      | 4871.7      | 41               | 118.8             | Star Wars: The Force Awakens | 936.7
Samuel L. Jackson  | 4772.8      | 69               | 69.2              | The Avengers                 | 623.4
Morgan Freeman     | 4468.3      | 61               | 73.3              | The Dark Knight              | 534.9
Tom Hanks          | 4340.8      | 44               | 98.7              | Toy Story 3                  | 415
Robert Downey, Jr. | 3947.3      | 53               | 74.5              | The Avengers                 | 623.4
Eddie Murphy       | 3810.4      | 38               | 100.3             | Shrek 2                      | 441.2
Tom Cruise         | 3587.2      | 36               | 99.6              | War of the Worlds            | 234.3
Johnny Depp        | 3368.6      | 45               | 74.9              | Dead Man's Chest             | 423.3
Michael Caine      | 3351.5      | 58               | 57.8              | The Dark Knight              | 534.9
Scarlett Johansson | 3341.2      | 37               | 90.3              | The Avengers                 | 623.4
... (40 rows omitted)

In [5]:
# Simple random sample of 5 rows
actors.sample(5, with_replacement=False)

Actor             | Total Gross | Number of Movies | Average per Movie | #1 Movie         | Gross
Morgan Freeman    | 4468.3      | 61               | 73.3              | The Dark Knight  | 534.9
Orlando Bloom     | 2815.8      | 17               | 165.6             | Dead Man's Chest | 423.3
Cameron Diaz      | 3031.7      | 34               | 89.2              | Shrek 2          | 441.2
Michael Caine     | 3351.5      | 58               | 57.8              | The Dark Knight  | 534.9
Leonardo DiCaprio | 2518.3      | 25               | 100.7             | Titanic          | 658.7

In [6]:
# The faces of a die, as an array
faces

array([1, 2, 3, 4, 5, 6])

In [7]:
# 7 rolls of the die
np.random.choice(faces, 7)

array([4, 1, 6, 3, 5, 4, 6])

In [8]:
# Array of actor names
actor_names = actors.column('Actor')

In [9]:
# Simple random sample of 5 actor names
np.random.choice(actor_names, 5, replace=False)

array(['Jonah Hill', 'Julia Roberts', 'Bruce Willis', 'Eddie Murphy',
       'Matt Damon'], dtype='<U22')

In [10]:
# Species distribution of flower colors:
# Proportions are in the order Red, Pink, White
species_proportions = [0.25, 0.5, .25]

sample_size = 300

# Distribution of sample
sample_distribution = sample_proportions(sample_size, species_proportions)
sample_distribution

array([0.24333333, 0.50333333, 0.25333333])

In [11]:
sum(sample_distribution)

1.0

In [12]:
# Sample proportion of Heads
sample_distribution.item(1)

0.5033333333333333