In [1]:
import matplotlib
from datascience import *
from path_data_variable import *
%matplotlib inline
import matplotlib.pyplot as plots
import numpy as np
plots.style.use('fivethirtyeight')

In [2]:
year = np.array(['Second']*60 + ['Third']*40)
major = np.array(['Undeclared']*30+['Declared']*30+['Undeclared']*8+['Declared']*32)
students = Table().with_columns(
    'Year', year,
    'Major', major
)

In [3]:
students.show(3)

In [4]:
students.pivot('Major', 'Year')

Year   | Declared | Undeclared
Second | 30       | 30
Third  | 32       | 8

In [5]:
32/(30+32)

0.5161290322580645

In [6]:
students.pivot('Major', 'Year')

Year   | Declared | Undeclared
Second | 30       | 30
Third  | 32       | 8

In [7]:
(0.4 * 0.8)/(0.6 * 0.5  +  0.4 * 0.8)

0.5161290322580645

In [8]:
(0.6 * 0.5)/(0.6 * 0.5  +  0.4 * 0.8)

0.4838709677419354